@charset "utf-8";
/* CSS Document */

.position1
{
		z-index: 1;
}

.position2
{
		z-index: 10;
}

*
{
	font-family: Calibri;
}
body, #menu, #centre
h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 0;
	border: 0;
}
h1
{
	background-color: #1166ff;
	padding: 0.5em;
}
h2, h3, h4, h5, h6
{

	margin-bottom: 0.5em;
}
#menu
{
	float: left;
	width: 18%;
	margin: 0em 1em 1em;
	padding: 1em;
	background-color: #22ff37;
}
#centre
{
	margin: 1em 1em 1em 23%;
	padding: 1em;
	background-color: #eeeeee;
}
#bas
{
	clear: both;
	padding: 1em;
	background-color: #3366ff;
}
label
{
	float: left;
	width: 250px;
	text-align: left;
}
input
{
	margin-bottom: 2px;
}
table, tr, td, th
{
	border-collapse: collapse;
	border: 1px solid black;
}

.flottant_droite {

	float: right;
}
span.label_profil {

	font-weight: bold;
}
